<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/users</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1212</property>

        <!-- Настройки диалекта для MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Автоматическое создание/обновление таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Вывод SQL-запросов в консоль (для отладки) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Указание маппинга сущностей -->

    </session-factory>
</hibernate-configuration>